h1{
    border-radius:20px;
    background-color:tan;
    font-family: 'Tilt Prism', cursive;
}
body{
    background-color:orange;
}
.copy_right_footer{
    bottom: 0;
    width: 100%;
    position:absolute;
    text-align: center;
    background-color:rgb(52, 214, 255);
} 